@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h3>Delete @Model.StylistName?</h3>
@using (Html.BeginForm())
{
  <input type="submit" value="Fire!" />
}
@Html.ActionLink("Back to List", "Index")