@{
  Layout = "_Layout";
}

<h1>Welcome to the best Restaurants around town!</h1>
<p>@Html.ActionLink("See Restaurants", "Index", "Restaurants")</p> 
<p>@Html.ActionLink("See all Cuisine", "Index", "Cuisines")</p>