@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h3>Delete @Model.ClientName?</h3>
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to List", "Index")