@{
  Layout = "_Layout";
}

@using HairSalon.Models;


<h3>Client Name: @Model.ClientName</h3>
<hr />

<p>Info About Client</p>

<p>@Html.ActionLink("Edit Item", "Edit", new {id = Model.ClientId})</p>
<p>@Html.ActionLink("Delete Item", "Delete", new {id = Model.ClientId})</p>
<p>@Html.ActionLink("Back to other Clients","Index")</p>
