@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h3>Edit</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)

  @Html.LabelFor(model => model.ClientName)
  @Html.EditorFor(model => model.ClientName)

  <input type="submit" value="Save" class="btn btn-primary"/>
}
<p>@Html.ActionLink("Back to Clients", "Index")</p>